<hr>

<p>fordirective works!</p>

<ul>
    <li *ngFor="let state of states">{{state}}</li>
</ul>

<ul class="num">
    <li *ngFor="let state of states; index as i">{{i+1}}  {{state}}</li>
</ul>

<table>
    <thead>
        <th>sr.no</th>
        <th>product</th>
        <th>price</th>
        <th>qty</th>
    </thead>
    <tbody>
        <tr (mouseover)="onMouseOver(product)"  
         *ngFor=" let product of arrProduct; index as i"
        [ngClass]="{'highlight':product.name === selected}"

        (mouseout)="onMouseOut()"

        >
            <td>{{i+1}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.qty}}</td>
        </tr>
    </tbody>
</table>